# coding: utf-8

"""
    Figshare API

    Figshare apiv2. Using Swagger 2.0  # noqa: E501

    OpenAPI spec version: 2.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class AuthorsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def private_author_details(self, author_id, **kwargs):  # noqa: E501
        """Author details  # noqa: E501

        View author details  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.private_author_details(author_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int author_id: Author unique identifier (required)
        :return: AuthorComplete
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.private_author_details_with_http_info(author_id, **kwargs)  # noqa: E501
        else:
            (data) = self.private_author_details_with_http_info(author_id, **kwargs)  # noqa: E501
            return data

    def private_author_details_with_http_info(self, author_id, **kwargs):  # noqa: E501
        """Author details  # noqa: E501

        View author details  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.private_author_details_with_http_info(author_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int author_id: Author unique identifier (required)
        :return: AuthorComplete
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['author_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method private_author_details" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'author_id' is set
        if ('author_id' not in params or
                params['author_id'] is None):
            raise ValueError("Missing the required parameter `author_id` when calling `private_author_details`")  # noqa: E501

        if 'author_id' in params and params['author_id'] < 1:  # noqa: E501
            raise ValueError("Invalid value for parameter `author_id` when calling `private_author_details`, must be a value greater than or equal to `1`")  # noqa: E501
        collection_formats = {}

        path_params = {}
        if 'author_id' in params:
            path_params['author_id'] = params['author_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/account/authors/{author_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AuthorComplete',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def private_authors_search(self, **kwargs):  # noqa: E501
        """Search Authors  # noqa: E501

        Search for authors  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.private_authors_search(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PrivateAuthorsSearch search: Search Parameters
        :return: list[Author]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.private_authors_search_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.private_authors_search_with_http_info(**kwargs)  # noqa: E501
            return data

    def private_authors_search_with_http_info(self, **kwargs):  # noqa: E501
        """Search Authors  # noqa: E501

        Search for authors  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.private_authors_search_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param PrivateAuthorsSearch search: Search Parameters
        :return: list[Author]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['search']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method private_authors_search" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'search' in params:
            body_params = params['search']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['OAuth2']  # noqa: E501

        return self.api_client.call_api(
            '/account/authors/search', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[Author]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
